.ull {
    list-style-type: none;
    margin-left: 0px;
}
.ulr{
    list-style-type: none;
    margin-left: 50%;
}
#ttt{
    margin-left: 30rem;
   
}

#list{
    font-size: 2.5rem;
    color: white;
}
.li {
    float: left;
    margin-left: 5rem;
    font-size: 2rem;
}

nav {
    width: 100%;
    height: 10rem; 
}

.heading{
    text-align: center;
    margin-top: 30rem;
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin: 5rem;
    color: rgb(15, 236, 130);
    
}

html{
    font-size: 62.5%;
}
.div{
    width: 70%;
    height: 60rem;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    margin-left: 15%;
    border-radius: 2rem;
    background-color: #173459;
}


.divv {
    width: 43%;
    height: auto;
    float: left;
    margin-left: 7%;
    
    
}
h2{
    color: orange;
    font-size: 2.6rem;
    margin-left: 20%;
    
}
.divvv {
    width: 43%;
    height: auto;
    float: left;
    margin-left: 7%;
    margin-top: 9rem;
    
}
.divvimage{
    float: left;
  
    margin-top: 7rem;
   
    width: 43%;  
}
.divvvimage{
    float: left;
  
    margin-top: 4rem;
    
    width: 43%;
 
    
    
}
#imgl{
  width: 100%;
}
.div1 {
    padding: 2rem;

}

label {
    background-color: white;
  
    padding: 2rem 2.5rem 1.5rem 2rem;
    border-radius: 2.5rem;
}

#img {
    width: 2.5rem;
    position: relative;
    top: 0.5rem;
    right: 0.6rem;
}

input {
    padding: 0.5rem;
    position: relative;
    bottom: 0.2rem;
    outline: none;
    font-size: 1.7rem;
    border: none;
    
}


button {
    padding: 0.8rem 2.4rem 0.8rem 2.4rem;
    font-size: 1.7rem;
    background-color: orangered;
    color: white;
   
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    border: none;
}
button:hover{
    background-color:orange;
    color:rgb(30, 0, 255);
    transition-duration: 0.5s;
}

label:hover {
    background-color: aliceblue;
}
#p{
    color: rgb(24, 246, 8);
    text-align: center;
    font-size: 1.8rem;
}
#pp{
    color: white;
    margin-left: 2rem;
    font-size: 1.8rem;
    padding: 1rem;
}

@media screen and (min-width:200px) and (max-width:300px) {
    html{
        font-size: 10%;
    }
}
@media screen and (min-width:300px) and (max-width:350px) {
    .ull {
        list-style-type: none;
        margin-left: 0px;
    }
    .ulr{
        list-style-type: none;
        margin-left: 5%;
    }
  
    #ttt{
        margin-left: 40px;
       
    }
    
    #list{
        font-size: 10px;
        color: white;}
    .li {
        float: left;
        margin-left: 18px;
        font-size: 12px;
    }
    
    nav {
        width: 100%;
        height: 50px;  
    }
    
    
    .heading{
        text-align: center;
        margin-top: 60px;
    }
    h1 {
        text-align: center;
        font-size: 25px;
        margin: 50px;
        color: rgb(15, 236, 130);
        
    }
    .div{
        width: 95%;
        height: 650px;
        background-color: #173459;
        margin-left: 1%;
        margin-top: 1%;
    }
   
    
    
    
    .divv {
        width: 70%;
        height: auto;  
        margin-left: 7%;
       
    }
    h2{
        color: orange;
        font-size: 15px;
        
        
        
    }
    .divvv {
        width: 70%;
        height: auto;
        margin-left: 7%;
        
    }
    .divvimage{
     
        margin-top: 30px;
       margin-left: 14%;
        width: 65%;  
    }
    .divvvimage{
        margin-top: 20px;
        margin-left: 14%;
        width: 65%;
    }
    #imgl{
      width: 100%;
    }
    .div1 {
        padding: 15px 3px 15px 3px;
    }
    
    label {
        background-color: white;
       padding: 11px 54px 10px 18px;
     
        border-radius: 17px;
    }
    
    #img {
        width: 13px;
        position: relative;
        top: 2px;
        right: 3px;
    }
    
    input {
      
        position: relative;
        bottom: 2px;
        outline: none;
        font-size: 8px;
        border: none;
     
        
    }
    
    
    button {
        padding: 10px 17px 10px 17px;
        font-size: 11px;
        background-color: orangered;
        color: white;
       
       margin-left: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
    }
    button:hover{
        background-color:orange;
        color:rgb(30, 0, 255);
        transition-duration: 0.5s;
    }
    
    label:hover {
        background-color: aliceblue;
    }
    #p{
        color: rgb(24, 246, 8);
        text-align: center;
        font-size: 15px;
    }
}

@media screen and (min-width:350px) and (max-width:403px) {
    .ull {
        list-style-type: none;
        margin-left: 0px;
    }
    .ulr{
        list-style-type: none;
        margin-left: 8%;
    }
  
    #ttt{
        margin-left: 70px;
       
    }
    
    #list{
        font-size: 10px;
        color: white;}
    .li {
        float: left;
        margin-left: 18px;
        font-size: 15px;
    }
    
    nav {
        width: 100%;
        height: 50px;  
    }
    
    
    .heading{
        text-align: center;
        margin-top: 60px;
    }
    h1 {
        text-align: center;
        font-size: 25px;
        margin: 50px;
        color: rgb(15, 236, 130);
        
    }
    .div{
        width: 95%;
        height: 680px;
        background-color: #173459;
        margin-left: 1%;
        margin-top: 1%;
    }
   
    
    
    
    .divv {
        width: 70%;
        height: auto;  
        margin-left: 7%;
       
    }
    h2{
        color: orange;
        font-size: 17px;
        
        
        
    }
    .divvv {
        width: 70%;
        height: auto;
        margin-left: 7%;
        
    }
    .divvimage{
     
        margin-top: 30px;
       margin-left: 14%;
        width: 65%;  
    }
    .divvvimage{
        margin-top: 20px;
        margin-left: 14%;
        width: 65%;
    }
    #imgl{
      width: 100%;
    }
    .div1 {
        padding: 17px 3px 17px 3px;
    }
    
    label {
        background-color: white;
       padding: 13px 57px 11px 19px;
     
        border-radius: 17px;
    }
    
    #img {
        width: 15px;
        position: relative;
        top: 2px;
        right: 3px;
    }
    
    input {
      
        position: relative;
        bottom: 2px;
        outline: none;
        font-size: 9px;
        border: none;
     
        
    }
    
    
    button {
        padding: 11px 18px 11px 18px;
        font-size: 12px;
        background-color: orangered;
        color: white;
       
       margin-left: 83px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
    }
    button:hover{
        background-color:orange;
        color:rgb(30, 0, 255);
        transition-duration: 0.5s;
    }
    
    label:hover {
        background-color: aliceblue;
    }
    #p{
        color: rgb(24, 246, 8);
        text-align: center;
        font-size: 14px;
    }
}

@media screen and (min-width:403px) and (max-width:500px) {
    .ull {
        list-style-type: none;
        margin-left: 0px;
    }
    .ulr{
        list-style-type: none;
        margin-left: 15%;
    }
    #ttt{
        margin-left: 90px;
       
    }
    
    #list{
        font-size: 15px;
        color: white;
    }
    
    .li {
        float: left;
        margin-left: 23px;
        font-size: 17px;
    }
    
    nav {
        width: 100%;
        height: 50px;  
    }
    
    
    .heading{
        text-align: center;
        margin-top: 100px;
    }
    h1 {
        text-align: center;
        font-size: 30px;
        margin: 50px;
        color: rgb(15, 236, 130);
        
    }
    .div{
        width: 95%;
        height: 700px;
        background-color: #173459;
        margin-left: 2%;
        margin-top: 2%;
    }
   
    
    
    
    .divv {
        width: 70%;
        height: auto;  
        margin-left: 12%;
       
    }
    h2{
        color: orange;
        font-size: 22px;
        
        
        
    }
    .divvv {
        width: 70%;
        height: auto;
        margin-left: 12%;
        
    }
    .divvimage{
     
        margin-top: 40px;
       margin-left: 16%;
        width: 65%;  
    }
    .divvvimage{
        margin-top: 30px;
        margin-left: 16%;
        width: 65%;
    }
    #imgl{
      width: 100%;
    }
    .div1 {
        padding: 17px 3px 17px 3px;
    }
    
    label {
        background-color: white;
       padding: 15px 27px 10px 27px;
     
        border-radius: 25px;
    }
    
    #img {
        width: 19px;
        position: relative;
        top: 2px;
        right: 3px;
    }
    
    input {
      
        position: relative;
        bottom: 2px;
        outline: none;
        font-size: 12px;
        border: none;
     
        
    }
    
    
    button {
        padding: 10px 20px 10px 20px;
        font-size: 13px;
        background-color: orangered;
        color: white;
       
       margin-left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: none;
    }
    button:hover{
        background-color:orange;
        color:rgb(30, 0, 255);
        transition-duration: 0.5s;
    }
    
    label:hover {
        background-color: aliceblue;
    }
    #p{
        color: rgb(24, 246, 8);
        text-align: center;
        font-size: 16px;
    }
   

    
}
@media screen and (min-width:500px) and (max-width:600px) {
    html{
        font-size: 25%;
    }
}
@media screen and (min-width:600px) and (max-width:700px) {
    html{
        font-size: 30%;
    }
}
@media screen and (min-width:700px) and (max-width:800px) {
    html{
        font-size: 35%;
    }
}
@media screen and (min-width:800px) and (max-width:900px) {
    html{
        font-size: 40%;
    }
}
@media screen and (min-width:900px) and (max-width:1000px) {
    html{
        font-size: 45%;
    }
}
@media screen and (min-width:1000px) and (max-width:1100px) {
    html{
        font-size: 50%;
    }
}
@media screen and (min-width:1100px) and (max-width:1200px) {
    html{
        font-size: 55%;
    }
}


@media screen and (min-width:1200px) and (max-width:1300px) {
    html{
        font-size: 65%;
    }
}
@media screen and (min-width:1300px) and (max-width:1500px) {
    html{
        font-size: 70%;
    }
}
